@using Syncfusion.EJ2;
@using Syncfusion.EJ2.Navigations;
@using Syncfusion.EJ2.Grids;

@model IEnumerable<MippPortalWebAPI.Models.Bill>

@{
    ViewData["Title"] = "Bill List";
    // var tabHeaderOne = new TabHeader { Text = "Lokalizace" };
    //var tabHeaderTwo = new TabHeader { Text = "Cenik" };
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";

}

<link href="~/styles/Grid/style.css" rel="stylesheet" />

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button id="details" class="btn btn-default" disabled="true">Details</button>
        <button id="edit" class="btn btn-default" disabled="true">Edit</button>
    </div>
    @*  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button id="pdfview" class="btn btn-default" disabled="true">View PDF</button>
    </div>*@

</div>


<div id="Grid"></div>





@*@(Html.EJS().Grid<object>
    ("Grid").DataSource((IEnumerable<object>
        )ViewData["GridData"]).AllowSelection().Columns(col =>
{
            col.Type("checkbox").Width("50").Add();
            col.Field("ServiceRequestNumber").HeaderText("Service Request Number").Width("100").Add();
            col.Field("PropertyManager").HeaderText("Property Manager").Width("150").Add();
            col.Field("Status").HeaderText("Status").Width("150").Add();
            col.Field("ExpectedEndDate").HeaderText("Expected End Date").Width("150").Add();

}
    ).AllowPaging().RowSelected("selected").SelectionSettings(select => select.Type(Syncfusion.EJ2.Grids.SelectionType.Multiple)).PageSettings(page => page.PageCount(2)).Render()
)*@



@section scripts {

    <script src="~/dist/js/notify.js"></script>
    <script src="~/dist/js/notify.min.js"></script>
    <script>
        if (@ViewBag.msg != null) {
            $(document).ready(function () {
                showNotification('success', @ViewBag.msg);
            });
        }
        function showNotification(type, message) {
            $.notify(message, type);
        }
    </script>
    <script>

        function rowSelected() {
            var grid = document.getElementsByClassName('e-grid')[0].ej2_instances[0].currentViewData[0]
            //var selectedRecords = grid.getSelectedRecords();
            //var selectedRecordsCount = selectedRecords.length;
            console.log("selectedRecord:", grid);


            if (grid != null) {

                //document.getElementById("pdfview").disabled = false;
                document.getElementById("edit").disabled = false;
                document.getElementById("details").disabled = false;
            }
            else {
                //document.getElementById("pdfview").disabled = true;
                document.getElementById("edit").disabled = true;
                document.getElementById("details").disabled = true;
            }

        }


        document.getElementById('edit').onclick = function () {

            var grid = document.getElementsByClassName('e-grid')[0].ej2_instances[0].currentViewData[0];

            var id = grid.Id;

            var url = document.location.origin + "/BillSettings/Index/" + id;
            window.location.replace(url);

        };

        document.getElementById('details').onclick = function () {

            var grid = document.getElementsByClassName('e-grid')[0].ej2_instances[0].currentViewData[0];

            var id = grid.Id;

            var url = document.location.origin + "/BillSettings/Details/" + id;
            window.location.replace(url);

        };

    </script>
    <ejs-grid id="Grid" allow-paging="true" allow-selection="true" rowSelected="rowSelected" datasource="@ViewBag.GridData">
        <e-grid-columns>
            <e-grid-column type="checkbox" width="50" />
            <e-grid-column field="Title" header - text="Title" width="75" text-align="right"> </e-grid-column>
            <e-grid-column field="Summary" header-text="Summary" width="80"> </e-grid-column>
            <e-grid-column field="InvoiceDate" header-text="InvoiceDate" text-align="right" width="75"> </e-grid-column>
            <e-grid-column field="Total" header-text="Total" text-align="right" width="75"> </e-grid-column>
        </e-grid-columns>
    </ejs-grid>



}









