@model MippVendorPortal.ViewModel.VendorClientViewModel

@{
    var isAgreed = false;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="../wwwroot/plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="../wwwroot/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

    <link rel="stylesheet" href="../wwwroot/dist/css/adminlte.min.css?v=3.2.0">
    <script nonce="961fceee-1daf-453a-9b76-0daf7c1a69e2">(function (w, d) { !function (bg, bh, bi, bj) { bg[bi] = bg[bi] || {}; bg[bi].executed = []; bg.zaraz = { deferred: [], listeners: [] }; bg.zaraz.q = []; bg.zaraz._f = function (bk) { return function () { var bl = Array.prototype.slice.call(arguments); bg.zaraz.q.push({ m: bk, a: bl }) } }; for (const bm of ["track", "set", "debug"]) bg.zaraz[bm] = bg.zaraz._f(bm); bg.zaraz.init = () => { var bn = bh.getElementsByTagName(bj)[0], bo = bh.createElement(bj), bp = bh.getElementsByTagName("title")[0]; bp && (bg[bi].t = bh.getElementsByTagName("title")[0].text); bg[bi].x = Math.random(); bg[bi].w = bg.screen.width; bg[bi].h = bg.screen.height; bg[bi].j = bg.innerHeight; bg[bi].e = bg.innerWidth; bg[bi].l = bg.location.href; bg[bi].r = bh.referrer; bg[bi].k = bg.screen.colorDepth; bg[bi].n = bh.characterSet; bg[bi].o = (new Date).getTimezoneOffset(); if (bg.dataLayer) for (const bt of Object.entries(Object.entries(dataLayer).reduce(((bu, bv) => ({ ...bu[1], ...bv[1] }))))) zaraz.set(bt[0], bt[1], { scope: "page" }); bg[bi].q = []; for (; bg.zaraz.q.length;) { const bw = bg.zaraz.q.shift(); bg[bi].q.push(bw) } bo.defer = !0; for (const bx of [localStorage, sessionStorage]) Object.keys(bx || {}).filter((bz => bz.startsWith("_zaraz_"))).forEach((by => { try { bg[bi]["z_" + by.slice(7)] = JSON.parse(bx.getItem(by)) } catch { bg[bi]["z_" + by.slice(7)] = bx.getItem(by) } })); bo.referrerPolicy = "origin"; bo.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(bg[bi]))); bn.parentNode.insertBefore(bo, bn) };["complete", "interactive"].includes(bh.readyState) ? zaraz.init() : bg.addEventListener("DOMContentLoaded", zaraz.init) }(w, d, "zarazData", "script"); })(window, document);</script>
</head>
<body class="register-page">
    <div class="row">
    <div class="register-box col-md-6">
        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg" style="text-align-last: center;">
                    <div class="register-logo">
                        <a href="../Views/Homes/Index.cshtml"><b>Vendor</b> &nbsp;Portal</a>
                    </div>

                </p>
                <form asp-controller="Join" asp-action="Register" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Email" asp-for="VendorEmail" value="@ViewBag.Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" asp-for="VendorPassword" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" asp-for="VendorCompany" placeholder="Company or Organization">
                        <div class="input-group-append">
                            <div class="input-group-text" >
                                <span class="fas fa-briefcase"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" asp-for="VendorPhone" placeholder="Phone Number">
                        <div class="input-group-append">
                            <div class="input-group-text" >
                                <span class="fas fa-phone"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3" style="display:none">
                        <input type="text" class="form-control" asp-for="ClientId" value="@ViewBag.ClientId">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-address-card"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3" style="display:none">
                        <input type="text" class="form-control" asp-for="RootVendorId" value="@ViewBag.RootVendorId">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-address-card"></span>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    I agree to the <a href="#">terms</a>
                                </label>
                            </div>
                        </div>

                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" id="submitButton" disabled>Accept</button>
                        </div>

                    </div>
                </form>

            </div>

        </div>
    </div>
    </div>

    <script src="../wwwroot/plugins/jquery/jquery.min.js"></script>

    <script src="../wwwroot/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../wwwroot/dist/js/adminlte.min.js?v=3.2.0"></script>
</body>
</html>
















@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

    <script>

        $("#check").click(function () {
            alert("Congrats! Registration successfull!!")
        });
        var checkbox = document.querySelector("input[name=terms]");

        checkbox.addEventListener('change', function () {
            var submitButton = $('#submitButton');
            if (this.checked) {
                console.log("Checkbox is checked..");
                submitButton.prop('disabled', false);

            } else {
                console.log("Checkbox is not checked..");
                submitButton.prop('disabled', true);
            }
        });
    </script>
}